<!-- Side Navbar -->
<nav class="side-navbar">
  <div class="side-navbar-wrapper">
    <!-- Sidebar Header    -->
    <div class="sidenav-header d-flex align-items-center justify-content-center">
      <!-- User Info-->
      <div class="sidenav-header-inner text-center"><img src="../../../assets/img/isc-logo.png" alt="person" class="img-fluid rounded-circle">
        <h2 class="h5">Avengers</h2><span>Admin</span>
      </div>
      <!-- Small Brand information, appears on minimized sidebar-->
      <div class="sidenav-header-logo"><a href="" class="brand-small text-center" style="text-decoration: none"> <strong>IS</strong><strong class="text-primary">C</strong></a></div>
    </div>
    <!-- Sidebar Navigation Menus-->
    <div class="main-menu">
      <h5 class="sidenav-heading">Main</h5>
      <ul id="side-main-menu" class="side-menu list-unstyled">
        <li><a routerLink=""> <i class="icon-home"></i>Trang chủ</a></li>
        <li><a routerLink="intakes"> <i class="fa fa-angle-double-right "></i>Khóa học</a></li>
        <li><a routerLink="majors"> <i class="fa fa-angle-double-right "></i>Chuyên ngành</a></li>
        <li><a routerLink="subjects"> <i class="fa fa-angle-double-right "></i>Môn học</a></li>
        <li><a routerLink="rooms"> <i class="fa fa-angle-double-right"></i>Phòng học</a></li>
        <li><a routerLink="schools"> <i class="fa fa-angle-double-right"></i>Trường học</a></li>
      </ul>
    </div>
  </div>
</nav>
